* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px 45px;
  background-color: azure;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  height: 14vh;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 40px 30px;
  font-size: 25px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: black;
  transform: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: brown;
}
#hero {
  background-image: url(img/hero3.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 50px;
  color: #0b8494;
}
#hero p {
  font-size: 28px;
  padding-bottom: 13px;
}
#hero h4 {
  padding-bottom: 15px;
}

#hero button {
  background-color: #b4d6cd;
  border-style: ridge;
  border-radius: 10px;
  padding: 13px 75px 12px 55px;
  font-size: 15px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section1 {
  padding: 20px 80px;
}
#feature .fe-box {
  width: 250px;
  padding: 50px 15px 45px 15px;
  text-align: center;
  justify-content: center;
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 10px;
  margin: 15px 0;
}
#feature .fe-box :hover {
  box-shadow: 10px 10px 54px rgba(70, 61, 221, 0.1);
}
#i1 {
  padding: 15px 5px 15px 5px;
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h4 {
  padding: 11px 8px 11px 8px;
  line-height: 1;
  display: inline-block;
  border-radius: 4px;
  color: #0b8494;
  background-color: #fddde4;
  font-size: 20px;
}
#feature .fe-box:nth-child(2) h4 {
  background-color: chartreuse;
}
#feature .fe-box:nth-child(3) h4 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h4 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h4 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h4 {
  background-color: #fff2e5;
}
#featurep h1 {
  text-align: center;
  padding: 30px 60px 30px 60px;
  font-size: 60px;
}
#featurep h3 {
  text-align: center;
  padding-bottom: 30px;
  color: gray;
}
#featurep {
  text-align: center;
}
#featurep .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#featurep .pro {
  width: 23%;
  padding: 10px 12px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.2s ease;
}
#featurep .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#featurep .pro img {
  width: 100%;
  border-radius: 20px;
}
#featurep .pro .desc {
  text-align: start;
  padding: 10px 0;
}
#featurep .pro .desc span {
  color: #606063;
}
#featurep .pro .desc h2 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
}
#featurep .pro .desc i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#featurep .pro .desc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
/*#featurep .pro .cart {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border-color: 1px solid #cce7d0;

  bottom: 10px;
  right: 10px;
} */
#banner {
  background-image: url(/img/banner1.jpg);
  height: 40vh;
  width: 100%;
  background-size: cover;
  justify-content: center;
  text-align: center;
  padding: 90px 15px 45px 15px;
}
#banner h4 {
  font-size: 35px;
  padding: 10px 10px 20px 30px;
}
#banner h2 {
  font-size: 50px;
  padding-bottom: 13px;
  color: #003566;
  padding: 10px 10px 40px 20px;
}
#banner button {
  background-color: #f5cac3;
  border-style: ridge;
  border-radius: 10px;
  padding: 13px 75px 12px 55px;
  font-size: 15px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
}
#banner h2 span {
  color: red;
}
#banner button:hover {
  background-color: #088178;
  color: white;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url(img/b2.jpg);
  min-width: 1000px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banner h4 {
  font-size: 30px;
  color: white;
}
#sm-banner h1 {
  font-size: 50px;
  font-weight: 80px;
  color: white;
}
#sm-banner h2 {
  padding-bottom: 10px;
  color: white;
  font-weight: 0.5px;
}
#sm-banner button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-style: ridge;
  border-radius: 10px;
  padding: 10px 75px 12px 55px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
}
#sm-banner .banner-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url(img/b3.jpg);
  min-width: 1000px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  color: white;
}
#sm-banner .banner-box1:hover button {
  background-color: #088178;
  color: white;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url(img/b4.jpg);
  min-width: 650px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 h2 {
  color: red;
  font-weight: 700;
  font-size: 30px;
}
#banner3 h1 {
  color: white;
  font-weight: 900;
  font-size: 45px;
}
#banner3 .banner-box2 {
  background-image: url(img/b5.jpg);
}
#banner3 .banner-box3 {
  background-image: url(img/b6.jpg);
}
#Newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/b7.jpg);
  background-repeat: no-repeat;
  height: 25vh;
  background-position: 20% 30%;
  background-color: #041e42;
  margin-bottom: 20px;
}
#Newsletter h4 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
#Newsletter p {
  font-size: 28px;
  font-weight: 600;
  color: #818ea0;
}
#Newsletter p span {
  font-size: 28px;
  font-weight: 600;
  color: #ffbd27;
}
#Newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 25px;
  width: 60%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#Newsletter .Form {
  display: flex;
  width: 40%;
}
#Newsletter button {
  /*background-color: #088178;
  color: white;*/
  background-color: #088178;
  color: white;
  border-style: ridge;
  border-radius: 4px;
  padding: 10px 35px 10px 35px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 5px;
}
footer h4 {
  font-size: 23px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer .Follow {
  margin-top: 20px;
}
footer .Follow i {
  color: #465b52;
  padding-top: 17px;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0px 15px 0px;
}
footer .Follow i:hover,
footer a:hover {
  color: #088178;
}
.Copyright {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

#p-header {
  background-image: url(img/sb1.jpg);
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}
#p-header h1 {
  color: white;
  font-size: 70px;
}
#p-header p {
  color: white;
  font-size: 25px;
}
#pagination {
  text-align: center;
  font-size: 30px;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
}
#pagination a i {
  font-family: 400;
}
#p-details {
  display: flex;
  margin-top: 50px;
  margin-left: 60px;
}
#p-details .single-p-img {
  width: 30%;
  margin-right: 50px;
  margin-left: 60px;
}
.small-img-grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#p-details .single-pro-details {
  width: 50%;
  font-size: 30px;
  padding-top: 30px;
}
#p-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#p-details .single-pro-details h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
#p-details .single-pro-details select {
  display: block;
  padding: 10px 10px;
  margin-bottom: 10px;
}
#p-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#p-details .single-pro-details input:focus {
  outline: none;
}
#p-details .single-pro-details button {
  background-color: #088178;
  color: white;
  border-style: ridge;
  border-radius: 4px;
  padding: 10px 35px 10px 35px;
  font-size: 23px;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
}
#p-details .single-pro-details span {
  line-height: 25px;
}
#bp-header {
  background-image: url(img/bh1.jpg);
  height: 300px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
  background-size: cover;
}
#bp-header h1 {
  font-size: 80px;
  color: #bcf2f6;
}
#bp-header p {
  font-size: 30px;
  color: #bcf2f6;
}
#blog {
  padding: 150px 160px 0 200px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 90%;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
  margin-bottom: 30px;
}
#blog img {
  width: 90%;
  height: 650px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
  font-size: 35px;
}
#blog .blog-details h4 {
  padding-bottom: 40px;
  font-size: 45px;
}
#blog .blog-details p {
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 1.5;
  text-align: justify;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: 700;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  top: 4px;
  right: -60px;
  font-family: Arial;
}
#blog .blog-details a:hover {
  color: #088178;
  transition: 0.6s;
}
#blog h1 {
  font-size: 45px;
  color: gray;
}
#about-header {
  background-image: url(img/ab1.png);
  height: 360px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
  background-size: cover;
}
#about-header h1 {
  font-size: 80px;
  color: white;
  padding-top: 25px;
}
#about-header p {
  font-size: 30px;
  color: white;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 100%;
  height: 600px;
  margin-top: 30px;
}
#about-head div {
  padding-left: 40px;
  width: 150%;
}
#about-head div h2 {
  font-size: 50px;
}
#about-head div p {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
}
#about-app {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 90%;
  height: 100%;
  border-radius: 20px;
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 20px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 40px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 23px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input {
  width: 85%;
  padding: 12px 12px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form textarea {
  width: 85%;
  height: 150px;
  padding: 12px 12px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 90px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: white;
  border-style: ridge;
  border-radius: 4px;
  padding: 12px 12px 12px 12px;
  font-size: 23px;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
}
#form-details .people div {
  padding-bottom: 25px;
  margin-right: 150px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 95px;
  height: 100px;
  object-fit: cover;
  margin-right: 35px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 35px;
}
#form-details .people div span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 80px;
}
#cart table td:nth-child(1) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(4) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(5) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(6) {
  width: 350px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 90px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e2e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px 0px;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 18px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupo h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 20px 20px;
  outline: none;
  width: 60%;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
  font-size: 18px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
  font-size: 25px;
}
#coupon button {
  background-color: #088178;
  color: white;
  height: 60px;
  width: 85px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 20px;
}
#subtotal button {
  background-color: #088178;
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
